*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;    
}


html,body{
    height: 100%;
    width: 100%;
    /* scroll-behavior: smooth; */
    overflow: hidden;
}
#page1{
    min-height: 120vh;
    width: 100%;
    background-color: #f5f5f5;
    position: relative;
    padding:1vw;
    display: flex;
    gap: 1vw;
}
#page1 #top img{
    width: 10vw;
    padding: 1vw;
    border-radius: 2vw;
    background-color: black;

}
#page1 #top{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1vw;
   
}
#page1 #top h1{
    font-size: 5vw;
    font-weight: 300;
}
#page1 #nav{
    width: 5vw;
    background-color: #000000;
    height: 42vw;
    /* position: absolute; */
    /* top:15%;
    left:3%; */
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vw;
    font-size: 2vw;
}

#page1 #nav i{
    background-color: white;
    color: #4474ba;
    padding: 0.5vw;
    border-radius: 50%;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page1 #nav i:hover{
    background-color: black;
    color: white;
}

#page1 #nav img{
    width: 4.5vw;
}

#page1 #dashboard-content #top #cards1{
    width: 10vw;
    height: 10vw;
    background-color: red;
}

#page1 #dashboard-content #name h1{
    font-size: 4vw;
    font-weight: 400;
}